.find_user_info_body {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.find_user_info_body_row_1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	justify-content: center;
	text-align: center;
}

.find_user_info_container {
	flex: 2;
	width: 480px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.title_sel_container_on {
	width: 240px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	background-color: #0FB291;
	color: #ffffff;
	cursor: pointer;
}

.title_sel_container_off {
	width: 240px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-bottom: solid 1px #0FB291;
	cursor: pointer;
}

.find_user_info_input_text_container {
	width: 480px;
	height: 60px;
	margin-top: 50px;
}

.find_user_info_input_text {
	width: 480px;
	height: 50px;
}

.find_user_info_find_button {
	width: 480px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #0FB291;
	color: #6A6A6A;
	font-size: 12px;
	font-weight: 300;
	color: #ffffff;
	font-size: 16px;
	margin-top: 50px;
	cursor: pointer;
}

a:link {
	text-decoration: none;
}