.container {
	display: flex;
	width: 100%;
    margin: 0;
    padding: 0;
}

.appBody {
	width: 100vw;
}

.link {
	text-decoration: none;
	color: inherit;
}

.appContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}